# Copy this file to .env and fill DB credentials
PGUSER=postgres
PGPASSWORD=Prince
PGHOST=localhost
PGDATABASE=Concours_Database_Players
PGPORT=5432
# Optionally:
# DATABASE_URL=postgres://postgres:Prince@localhost:5432/Concours_Database_Players
